
    <h2 class="ui header">Product Details</h2>
    <div class="ui stackable grid">
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui form">
                    <!-- Field -->
                    <div class=" inline field">
                        <label>Product Name</label>
                        <input placeholder="Product Name" name="product-name" type="text">
                    </div>
                    <!-- End Field -->

                    <!-- Field -->
                    <div class="inline field">
                        <label>Product Class</label>
                        <div class="ui compact menu">
                            <div class="ui simple dropdown item">
                                <div class="text">Select One</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">Group Activity</div>
                                    <div class="item">Private Activity</div>
                                    <div class="item">Event</div>
                                    <div class="item">Retail</div>
                                    <div class="item">Ticket</div>
                                    <div class="item">Rental</div>
                                    <div class="item">Lodging</div>
                                    <div class="item">Lesson or Class</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Field -->

                    <!-- Field -->
                    <div class=" inline field">
                        <label>Product Type</label>
                        <div class="ui compact menu">
                            <div class="ui simple dropdown item">
                                <div class="text">Select One</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">Group or Private Activity</div>
                                    <div class="item">Event</div>
                                    <div class="item">Retail</div>
                                    <div class="item">Rental</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Field -->


                    <!-- Field -->
                    <div class="inline field">
                        <label>Product Locations</label>
                        <input placeholder="Example: San Diego, California" name="primary-location" type="text">
                        <p><a href="" class="small">+ Add Location</a>
                        </p>
                    </div>
                    <!-- End Field -->


                    <!-- Field -->
                    <div class="inline field">
                        <label class="redactor">Short Description</label>
                            <textarea  id="textarea-short" data-maxsize="200"  rows="4" data-output="status1" wrap="virtual" placeholder="Maximum 200 characters"></textarea>
                            <div id="status1" class="right" style="margin-right: 20px;"></div>
                    </div>
                    <!-- End Field -->

                    <!-- Field -->
                    <div class="inline field">
                        <label class="redactor">Product Information</label>
                        <textarea id="redactor2" name="content" placeholder="Create sections of information to sell your product.  The overview and highlights are required. You may also add details to the other listed sections or create your own sections">
                            </textarea>
                    </div>
                    <!-- End Field -->

                    <!-- Field -->
                    <div class="inline field">
                        <label class="redactor">Highlights</label>
                          <textarea id="redactor3" name="content" placeholder="Include a short, bullet list of the most attractive aspects of this product">
                          </textarea>
                    </div>
                    <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">Itinerary</label>
                        <textarea id="redactor3" name="content" placeholder="Provide a more in-depth look at the different sections, days or primary elements of this product">
                        </textarea>
                  </div>
                  <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">What to Bring</label>
                        <textarea id="redactor3" name="content" placeholder="A list that details what each participant should wear or bring">
                        </textarea>
                  </div>
                  <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">FAQ</label>
                        <textarea id="redactor3" name="content" placeholder="Some of the most common questions along with the corresponding answer">
                        </textarea>
                  </div>
                  <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">Rules</label>
                        <textarea id="redactor3" name="content" placeholder="List any rules or limitations to participation or purchase of this product">
                        </textarea>
                  </div>
                  <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">Additional Information</label>
                        <textarea id="redactor3" name="content" placeholder="Any other details which have not been addressed in any of the provided sections">
                        </textarea>
                  </div>
                  <!-- End Field -->


                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">Includes</label>
                        <textarea id="redactor3" name="content" placeholder="A bullet list of the services or items included with this product.">
                        </textarea>
                  </div>
                  <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label class="redactor">Excludes</label>
                        <textarea id="redactor3" name="content" placeholder="A bullet list of the services or items not included with this product">
                        </textarea>
                  </div>
                  <!-- End Field -->

                  <!-- Field -->
                  <div class="inline field">
                      <label>Videos</label>
                                   <div class="ui compact menu">
                          <div class="ui simple dropdown item">
                              <div class="text">Video Source</div>
                              <i class="dropdown icon"></i>
                              <div class="menu">
                                  <div class="item">YouTube</div>
                                  <div class="item">Vimeo</div>
                              </div>
                          </div>
                      </div>
                      <input placeholder="Video URL" name="insert-product-name" type="text">

                      <p><a href=" " class="small">+ Add another</a>
                      </p>
                  </div>
                  <!-- End Field -->

                    <!-- Field -->
                    <div class="inline field">
                        <label>Images</label>
                        <fieldset>
                            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000">
                            <div>
                                <label for="fileselect">Files to upload:</label>
                                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple">
                                <div id="filedrag" style="display: block;">or drop files here</div>
                            </div>
                            <div id="submitbutton" style="display: none;">
                                <button type="submit">Upload Files</button>
                            </div>
                        </fieldset>

                    </div>
                    <!-- End Field -->


<h2 class="ui header">Policies</h2>

                    <!-- Field -->
                     <div class="inline field">
                    <a class="ui green button right">Save &amp; next</a>
                </div>
                    <!-- End Field -->

                </div>
            </div>
            <!-- End Column -->
        </div>

<div class="four wide column help">
<h2 class="fa fa-question-circle"> Help title</h2>
  {% include temp-help.html %}

</div>
        <!-- End Grid -->
        </div>
