---
layout: default
---

<section class="center ">

  <div class="ui  fluid five item menu">
    <a class="active item" data-tab="details"><i class="settings icon"></i>Product Details</a>
    <a class="item" data-tab="pricing">Pricing</a>
    <a class="item" data-tab="schedule">Schedule</a>
    <a class="item" data-tab="fields">Fields</a>
    <a class="item" data-tab="preview">Preview</a>
  </div>

  <div class="ui active tab segment" data-tab="details">{% include /product-setup/step1-details.html %}</div>
  <div class="ui tab segment" data-tab="pricing">{% include /product-setup/step2-pricing.html %}</div>
  <div class="ui tab segment" data-tab="schedule">{% include /product-setup/step3-schedule.html %}</div>
  <div class="ui tab segment" data-tab="fields">{% include /product-setup/step4-fields.html %}</div>
  <div class="ui tab segment" data-tab="preview">{% include /product-setup/step5-preview.html %}</div>

</section>





