---
layout: default
---

<section class="center ">
    <p>
    <div id="switcher" class="ui compact menu">
        <div class="ui simple dropdown item">
            <div class="text">Division</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Western River</div>
                <div class="item">Moab Adventure Center</div>
            </div>
        </div>
    </div>
    </p>



  <div class="ui  fluid five item menu">
    <a class="active item" data-tab="details"><i class="fa fa-cogs"></i>Product Details</a>
    <a class="item" data-tab="pricing"><i class="fa fa-usd"></i>Pricing</a>
    <a class="item" data-tab="schedule"><i class="fa fa-calendar"></i>Schedule</a>
    <a class="item" data-tab="fields"><i class="fa fa-sitemap"></i>Fields</a>
    <a class="item" data-tab="preview"><i class="fa fa-desktop"></i>Preview</a>
  </div>

  <div class="ui active tab segment" data-tab="details">{% include /product-setup/step1-details.html %}</div>
  <div class="ui tab segment" data-tab="pricing">{% include /product-setup/step2-pricing.html %}</div>
  <div class="ui tab segment" data-tab="schedule">{% include /product-setup/step3-schedule.html %}</div>
  <div class="ui tab segment" data-tab="fields">{% include /product-setup/step4-fields.html %}</div>
  <div class="ui tab segment" data-tab="preview">{% include /product-setup/step5-preview.html %}</div>

</section>
