
        <footer class="clearfix">
            <ul id="icons-social">
                <li class="fa fa-facebook"></li>
                <li class="fa fa-google-plus"></li>
                <li class="fa fa-linkedin"></li>
                <li class="fa fa-pinterest"></li>
                <li class="fa fa-twitter"></li>
                <li class="fa fa-youtube"></li>
                <li class="fa fa-vimeo-square"></li>
            </ul>
        </footer>


        <script type="text/javascript" src="/js/hammer.min.js"></script>
        <script type="text/javascript" src="/js/mmenu.min.all.js"></script>
        <script type="text/javascript" src="/js/menu.js"></script>
        <script src="redactor/redactor.min.js"></script>
        <script src="filedrag.js"></script>

        <script type="text/javascript">
        $(document).ready(
            function() {
                $('#redactor, #redactor2, #redactor3').redactor();
            }
        );
        </script>