       <!-- Left Menu (Main) -->
        <nav id="menu-left">
            <ul>
                <li class="Selected"><i class="fa fa-tachometer"></i><a href="l">Divisions</a>
                </li>
                <li><a href="">Users</a>
                </li>
                <li><a href="">Payment Gateway</a>
                </li>
                <li><a href="">Payment Locations</a>
                </li>
                <li>
                    <a href="#">Product Setup</a>
                    <ul>
                        <li><a href="#">Products</a>
                        </li>
                        <li><a href="#">Options</a>
                        </li>
                        <li><a href="#">Fees</a>
                        </li>
                        <li><a href="#">Discounts</a>
                        </li>
                        <li><a href="#">Group Discounts</a>
                        </li>
                        <li><a href="#">Taxes</a>
                        </li>
                        <li><a href="#">Policies</a>
                        </li>
                        <li><a href="#">Pickup Locations</a>
                        </li>
                        <li><a href="#">Create Inventory</a>
                        </li>
                        <li><a href="#">Edit Items</a>
                        </li>
                    </ul>
                </li>
                <li><a href="">Package Setup</a>
                </li>
                <li><a href="">Resource Management</a>
                </li>
                <li><a href="">Sales Setup</a>
                </li>
                <li><a href="">Resource Management</a>
                </li>
                <li><a href="">Sales Setup</a>
                </li>
                <li><a href="">Accounting Setup</a>
                </li>
                <li><a href="">Marketing Setup</a>
                </li>
                <li><a href="">Websites</a>
                </li>
                <li><a href="">Automated Email</a>
                </li>
                <li><a href="">Data Import</a>
                </li>
            </ul>
        </nav>