<!-- Left Menu (Main) -->
<div class="ui vertical sidebar menu accordion">

<a class="item">Users</a>
<a class="item">Payment Gateway</a>
<a class="item">Payment Locations</a>


<div class="item title"><i class="dropdown icon"></i>Product Setup</div>
    <div class="content">
        <a class="item">About</a>
        <a class="item">Contact Us</a>
        <a class="item">Products</a>
        <a class="item">Options</a>
        <a class="item">Fees</a>
        <a class="item">Discounts</a>
        <a class="item">Group Discounts</a>
        <a class="item">Taxes</a>
        <a class="item">Policies</a>
        <a class="item">Pickup Locations</a>
        <a class="item">Create Inventory</a>
        <a class="item">Edit Items</a>
    </div>

<a class="item">Package Setup</a>
<a class="item">Resource Management</a>
<a class="item">Sales Setup</a>
<a class="item">Resource Management</a>
<a class="item">Sales Setup</a>
<a class="item">Accounting Setup</a>
<a class="item">Marketing Setup</a>
<a class="item">Websites</a>
<a class="item">Automated Email</a>
</div>
