<p><strong>Description</strong><br />


<p><strong>Apply to this product only</strong><br />This policy will be available to apply to other products, but will need to be applied manually to each product.</p>
<p><strong>Apply to all existing products</strong><br />Upon saving, this policy will be applied to all existing products.  It can always be removed from any individual product.</p>
<p><strong>Apply to all new products</strong><br />This policy will be automatically applied to each new product you create.  It can always be removed from any individual product.</p>
<p><strong>Apply to all new and existing products</strong><br />Upon saving, this policy will be applied to all existing products. It will also be automatically applied to each new product you create. It can always be removed from any individual product.</p>

