<!DOCTYPE html>
<html>
<html lang="en">
<head>
    {% include header.html %}
</head>

<body>
    {% include analytics.html %}

    <header>
        <div id="logo"></div>
    </header>
              

     <div id="page">

          <div class="ui form">
                    <!-- Field -->
                        <div class="ui compact menu">
                            <div class="ui simple dropdown item">
                                <div class="text">Select One</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">Group Activity</div>
                                    <div class="item">Private Activity</div>
                                    <div class="item">Event</div>
                                    <div class="item">Rental</div>
                                    <div class="item">Lodging</div>
                                    <div class="item">Retail/Ticket</div>
                                    <div class="item">eGift Card/Voucher</div>
                                    <div class="item">Quote Request</div>
                                </div>
                            </div>
                    <!-- End Field -->
                </div>
            </div>



        <div class="menu-left">
            <a href="#menu-left"><i class="fa fa-bars"></i></a> 
            {% include menu-left.html %}
    </div>


        <div class="menu-right">
            <a href="#menu-right" class="right"><i class="fa fa-question-circle"></i></a>
            {% include menu-right.html %}
        </div>

    {{ content }}


</div>

{% include footer.html %}

</body>
</html>