<!DOCTYPE html>
<html>
<html lang="en">
<head>
    {% include header.html %}
</head>

<body>
    {% include analytics.html %}

    <header>
        <div id="logo"></div>
    </header>

     <div id="page">
        <div class="menu-left">
            <a href="#menu-left"><i class="fa fa-bars"></i></a> 
            {% include menu-left.html %}
    </div>


        <div class="menu-right">
            <a href="#menu-right" class="right"><i class="fa fa-question-circle"></i></a>
            {% include menu-right.html %}
        </div>

    {{ content }}


</div>

{% include footer.html %}

</body>
</html>