<!DOCTYPE html>
<html>
<html lang="en">
<head>
    {% include header.html %}
</head>

<body>
    {% include analytics.html %}

    <header>
        <div id="logo"></div>
        <div id="login">

      <div class="ui dropdown">
      <div class="text"><span class="name-login">Welcome Brandon Lake</span></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">My Account</div>
        <div class="item">Setup</div>
        <div class="item">Logout</div>
      </div>
    </div>

        </div>
    </header>

     <div id="page">
        <a id="open-menu"><i class="fa fa-bars"></i></a>
            {% include menu-left.html %}
      {{ content }}
    </div>

{% include footer.html %}

</body>
</html>
